@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #DADFE8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    gap: 30px;
}

main .pokemons-card .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: none;
    width: 430px;
}

main .pokemons-card .pokemon-selected {
    display: block;
}

main .pokemons-card .card-header {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 0;
}

main .pokemons-card .card-header h1 {
    color: #FFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

main .pokemons-card .card-header .card-number {
    font-size: 16px;
    font-weight: 500;
}

main .pokemons-card .card-header .type {
    font-size: 12px;
    background-color: #FFF;
    opacity: 0.7;
    padding: 2px 10px;
    border-radius: 10px;
    align-self: flex-start;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .pokemons-card .pokemon-image {
    display: flex;
    height: 350px;
    width: 100%
}

main .pokemons-card img {
    padding: 0 40px;
    height: 100%;
    width: 430px;
}

main .pokemons-card .pokemon-infos {
    background-color: #FFF;
    display: flex;
    gap: 10px;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .pokemons-card .pokemon-infos .stats,
main .pokemons-card .pokemon-infos .abilities {
    width: 180px;
    padding: 0 10px;
}

main .pokemons-card .pokemon-infos .stats h2,
main .pokemons-card .pokemon-infos .abilities h2 {
    font-size: 20px;
    border-bottom: 1px solid #6B727A;
    margin-bottom: 15px;
}

main .pokemons-card .pokemon-infos .stats ul li,
main .pokemons-card .pokemon-infos .abilities ul li {
    font-size: 15px;
    border-bottom: 1px solid #c5c3c3;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

main .pokemons-list-menu .menu {
    max-width: 200px;
}

main .pokemons-list-menu .menu ul li {
    background-color: #6B727A;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s ease-in-out;
}

main .pokemons-list-menu .menu ul li:hover {
    transform: scale(1.07);
}

main .pokemons-list-menu .menu ul li.active {
    background-color: #FA6668
}

main .pokemons-list-menu .menu ul li img {
    width: 25%;
    border-radius: 50%;
}

main .pokemons-list-menu .menu ul li span {
    color: #FFF;
    margin-right: 20px;
    font-weight: 500;
}