main .electric-type {
    background-color: #FCC719;
}

main .grass-type {
    background-color: #49D0B0;
}

main .fire-type {
    background-color: #ED8A8B;
}

main .water-type {
    background-color: #76BEFE;
}

main .ghost-type {
    background-color: #BA68C8;
}

main .dragon-type {
    background-color: #C29791;
}